.paper{
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
}
.paper_wrapper{
  display: flex;
  justify-content: space-between;
}
.paper_wrapper__img{
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

.paper_wrapper__typography{
  font-weight: bold;
  margin-top: 10px;
}

.paper_wrapper__button{
  height: 42px;
  min-width: 45px;
  width: 45px;
  margin-right: 10px;
}
.paper_wrapper__button_icon{
 margin-right: 10px;
}
.followers_paper{
  margin-bottom: 20px;
  padding: 20px;
  width: 300px
}
.followers_paper_wrapper{
  display: flex;
  margin-top: 15px;

}
.followers_paper_wrapper__img{
  margin-top: 10px;
}

.followers_post{
  margin-right: 20px;
  display: flex;
}

.followers{
  display: flex;
  align-items: start;
}
.tabs{
  margin-top: 20px;
}


